@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;

}

header{
    box-sizing: border-box;
    width: 100%;
    padding: 26px 435px 26px 330px;
    display: flex;
    background-color: #292929;

}

.logo{
    margin-right: 210px;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e3e3e3;
    gap: 120px;
    list-style: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.navbar a{
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(orange, orange);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}
a:hover {
    background-size: 100% 2px;
}

.home{
    width: 100%;
    display: flex;
    margin-right: 100px;
    background-color: #292929 ;
}

.home-title{
    margin-left: 330px;
    margin-right: 100px;
    padding-top: 175px;
}

.home-title h1{
    font-family: 'Montserrat',sans-serif;
    color: #E4E4E4;
}

.home-title .hello{
    font-size: 48px;
}

.home-text{
    font-size: 72px;
}

.home-title p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #E4E4E4;
    font-size: 18px;
}

.home-btn{
    box-sizing: border-box;
    margin-top:30px ;
    width: 250px;
    height: 67px;
    background-color: orange;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-color: orange;
    filter: drop-shadow(0 0 5px orange);
    border-radius: 6px;
}

.home-img{
    margin-top: 50px;
    margin-right: 150px;
    width: 650px;
    height: auto;
}

.skills{
    background-color: #3c3c3c;
    padding: 115px 300px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.skills div{
    display: block;
    margin-right: 40px;
    margin-top: 20px;
    box-sizing: border-box;
    /*padding-top: 50px;*/
    width: 270px;
    height: 270px;
    background-color: #2a2a2a;
    text-align: center;
    border-radius: 35px;
    filter: drop-shadow(5px 7px 4px #2a2a2a);
}

.skills img{
    margin-top: 70px;
}

.skills p{
    margin-top: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    color: #e4e4e4;
    font-size: 24px;
}

.portfolio{
    display: flex;
    justify-content: center;
}

.portfolio button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: orange;
}

.slider{
    padding: 50px;

}

.slider img{
    width: 495px;
    height: 500px;
}
